<header>
  <nav>
    <div class="container">
      <div class="grid">
        <div class="col-xs-12 col-md-6">
          <figure class="media">
            <div class="logo">
              <%= image_tag("/assets/logo.png") %>
            </div>
            <figcaption class="logo-content">
              <span>Crypto Dashboard</span>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-12 col-md-6">
          <p>Please press the <strong>space key</strong> to filter through currencies or <strong>click</strong> on desired currency to view more details.</p>
        </div>
      </div>
    </div>
  </nav>
</header>