/* COLORS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$bg: #ffffff;
$primary-text: #4d5176;
$secondary-text: #dbdce4;
$primary: #202856;
$secondary: #0f1849;
$alt: #272f5d;
$accent: #eeeeee;
$action: #39a6a7;
$negative: #f44336;
$positive: #1bc98e;